body, html {
    height: 100vh;
    background-color: blue;
}

.hidden {
display: none;
}

.title-container {
    display: flex;
    justify-content: center;
}

.title {
font-family: 'Shrikhand', cursive;
}

.button-container {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
